DATABASE_URL= "postgresql://postgres:password@db:5432/100xprep"

NEXTAUTH_URL="http://localhost:3000"

NEXTAUTH_SECRET= ""

GOOGLE_CLIENT_ID= ""

GOOGLE_CLIENT_SECRET= ""

GOOGLE_MEET_API_KEY= ""

GITHUB_ID= ""

GITHUB_SECRET= ""

UPLOADTHING_SECRET= ""

UPLOADTHING_APP_ID= ""

SENDEREMAIL= ""

SENDERPASS= ""

LOCAL_CMS_PROVIDER = true

APPX_AUTH_KEY= ""

APPX_CLIENT_SERVICE= ""

APPX_BASE_API = ""

ADMINS = "Random,example@gmail.com"

REDIS_HOST="redis://redis:6379"