@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-hidden {
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.switch-root {
  width: 42px;
  height: 25px;
  background-color: white;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}

.switch-root[aria-checked="true"] {
  background-color: #3e63dd;
}

.switch-thumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: #212225;
  border-radius: 50%;
  transition: transform 0.2s;
  transform: translateX(2px);
  will-change: transform;
}

.switch-root[aria-checked="true"] .switch-thumb {
  transform: translateX(19px);
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 40px; /* Reduced size */
  height: 40px; /* Reduced size */
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 20px 20px; 
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 3.6px; /* Reduced size */
  height: 3.6px; /* Reduced size */
  border-radius: 50%;
  background: currentColor;
  margin: -1.8px 0 0 -1.8px; 
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 31.31371px; 
  left: 31.31371px; 
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 33.85641px; 
  left: 28px; 
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 35.45481px; 
  left: 24.1411px; 
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 36px; 
  left: 20px; 
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 35.45481px; 
  left: 15.8589px; 
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 33.85641px; 
  left: 12px; 
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 31.31371px; 
  left: 8.68629px; 
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 28px; 
  left: 6.14359px; 
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


